header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 40px;
     font-size: 25px;
     margin-right: 50px;
}

h2, h3 {
    text-align: center;
     font-size: 30px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container p {
    width: 60%;
    text-align: center;
     font-size: 20px;
}


#sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box {
    display: flex;
    justify-content: center;
    gap: 40%;     
    margin-top: 50px;
}


.box {
    width: 700px;
    text-align: center;

}


.box img {
    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}


.para {
    margin-top: 10px;
    text-align: justify;
     font-size: 20px;


}

.table-container{
     width: 300px;
    margin-left: 50px;
}

.table-container h4{
     text-align: left;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
    padding: 10px;


}

.contact-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;

}

.contact-table td {
    padding: 10px;
    vertical-align: top;
     font-size: 20px;

}

.contact-table input,
.contact-table textarea {
    width: 100%;
    padding: 7px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 4px;
}

footer{
    text-align: center;
    
}

